@page
@model BillardHazard.Pages.Rules.IndexModel

@{
    ViewData["Title"] = "Rules";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Créer un nouveau défi</a>
</p>

@if (Model.Rules != null && Model.Rules.Count > 0)
{
    <p>
        <a asp-page-handler="EraseAllRules">Erase All Rules</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rules[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rules[0].Explanation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Rules) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Explanation)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else{
    <h2>Il n'y a pas de Rules !</h2>
}