@page
@model BillardHazard.Pages.Rules.IndexModel

@{
    ViewData["Title"] = "Rules";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">
        <button type="button" class="btn btn-success">
            Créer un nouveau défi
        </button>
    </a>
</p>

@if (Model.Rules != null && Model.Rules.Count > 0)
{
    <p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Erase all Rules
        </button>
    </p>
    <table class="table bg-white">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rules[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rules[0].Explanation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Rules) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Explanation)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="exampleModalLabel">Are you sure ?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-black">
                    Do you really want to erase all the Rules ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post">
                        <button asp-page-handler="EraseAllRules" type="submit" class="btn btn-danger">Delete all</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else{
    <h2>Il n'y a pas de Rules !</h2>
}