@page
@model BillardHazard.Pages.HighScores.IndexModel

@{
    ViewData["Title"] = "Hall of fame !";
}

<h1>@ViewData["Title"]</h1>
@if (User.IsInRole(Tools.Constants.ADMIN))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

@if (Model.HighScores != null && Model.HighScores.Count > 0)
{
    @if (User.IsInRole(Tools.Constants.ADMIN))
    {
        <p>
            <a asp-page-handler="EraseAllHighScores">Erase All HighScores</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>

                @if (User.IsInRole(Tools.Constants.ADMIN))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.HighScores[0].Id)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.HighScores[0].TeamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HighScores[0].Score)
                </th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.HighScores) {
                <tr>

                @if (User.IsInRole(Tools.Constants.ADMIN))
                {
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                @if (User.IsInRole(Tools.Constants.ADMIN))
                {
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                }
            </tr>
    }
        </tbody>
    </table>
}
else{
    <h2>Il n'y a pas de High score !</h2>
}