@page
@model BillardHazard.Pages.HighScores.IndexModel

@{
    ViewData["Title"] = "Hall of fame !";
}

<h1>@ViewData["Title"]</h1>

@if (Model.HighScores != null && Model.HighScores.Count > 0)
{
    @if (User.IsInRole(Tools.Constants.ADMIN))
    {
        <p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Erase all High scores
            </button>
        </p>
    }
    <table class="table bg-white text-black justify-content-center align-content-center">
        <thead>
            <tr>

                @if (User.IsInRole(Tools.Constants.ADMIN))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.HighScores[0].Id)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.HighScores[0].TeamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HighScores[0].Score)
                </th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.HighScores) {
                <tr>

                @if (User.IsInRole(Tools.Constants.ADMIN))
                {
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                @if (User.IsInRole(Tools.Constants.ADMIN))
                {
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                }
            </tr>
    }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="exampleModalLabel">Are you sure ?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-black">
                    Do you really want to erase all the High scores ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post">
                        <button asp-page-handler="EraseAllHighScores" type="submit" class="btn btn-danger">Delete all</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else{
    <h2>Il n'y a pas de High score !</h2>
}