@page "{gameId:guid}"
@model IndexModel

@{
    ViewData["Title"] = $"Au tour de l'équipe {Model.ActualTeam.Name} ({Model.ActualTeam.Color})";
}

<h1>@ViewData["Title"]</h1>

<section class="stage square-150">
    <figure class="ball @Model.CssBallCurrentColorClass">
        <span class="shadow"></span>
    </figure>
</section>

<div id="display"></div>
<div>
    <button id="btnDice" class="btn btn-dark mt-3" title="Changer le défi en cours (Espace)"></button>
</div>

<form method="post">

    <div class="container">
        <div class="row">
            <div id="oneMoreTurn" class="col-sm mt-3">
                <button id="btnOneMoreTurn" class="pointer btn btn-dark" type="submit" asp-page-handler="AnotherTurn" title="Tour supplémentaire pour l'équipe @Model.ActualTeam.Color (Flèche gauche)"></button>
            </div>
            <div id="challengeState" class="col-sm mt-3">
                <a title="Validé ou invalidé le défi en cours (Entrée)" id="challengeStateDescritption" class="challengeNotValidate">Défi non-validé</a>
                <input hidden id="isChallengeValidate" type="radio" asp-for="IsChallengeValidate" value="true" />
                <input hidden id="isChallengeNotValidate" type="radio" asp-for="IsChallengeValidate" value="false" />
            </div>
            <div id="nextTeamTurn" class="col-sm mt-3">
                <button id="btnNextTeamTurn" class="pointer btn btn-dark" type="submit" asp-page-handler="OpponentTurn" title="Au tour de l'équipe @Model.OpponentTeam.Color (Flèche droite)"></button>
            </div>
        </div>
        <div class="row justify-content-center align-content-center">
            <table id="tableScore" class="w-25 mt-5">
                <tr>
                    <th colspan="2">SCORES</th>
                </tr>
                <tr>
                    <th colspan="1">@Model.ActualTeam.Name (@Model.ActualTeam.Color)</th>
                    <th colspan="1">@Model.OpponentTeam.Name (@Model.OpponentTeam.Color)</th>
                </tr>
                <tr>
                    <td colspan="1">@Model.ActualTeam.Score</td>
                    <td colspan="1">@Model.OpponentTeam.Score</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="ws-25 mt-5">
                <button id="btnEndGame" asp-page-handler="EndGame" title="Déclenche la fin de partie. (Échape)" type="submit" class="btn btn-danger">Fin de partie</button>
            </div>
        </div>
    </div>
</form>

<script>
    var decodedJson = decodeHtml('@Model.JsonRules');

    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }
</script>

<script src="~/js/challenge.js" asp-append-version="true"></script>